/.vs/StringOperations/FileContentIndex/17254516-d566-4061-8106-5646c570151d.vsidx
/.vs/StringOperations/v17/.suo
/.vs/StringOperations/v17/Browse.VC.db
/.vs/StringOperations/v17/Browse.VC.db-shm
/.vs/StringOperations/v17/Browse.VC.db-wal
/.vs/StringOperations/v17/Browse.VC.opendb
/.vs/StringOperations/v17/ipch/AutoPCH/5adb30db6a1c33a1/STRINGOPERATIONS.ipch
/x64/Debug/StringOperations.Build.CppClean.log
/x64/Debug/StringOperations.exe
/x64/Debug/StringOperations.exe.recipe
/x64/Debug/StringOperations.ilk
/x64/Debug/StringOperations.log
/x64/Debug/StringOperations.obj
/x64/Debug/StringOperations.pdb
/x64/Debug/StringOperations.tlog/CL.command.1.tlog
/x64/Debug/StringOperations.tlog/Cl.items.tlog
/x64/Debug/StringOperations.tlog/CL.read.1.tlog
/x64/Debug/StringOperations.tlog/CL.write.1.tlog
/x64/Debug/StringOperations.tlog/link.command.1.tlog
/x64/Debug/StringOperations.tlog/link.read.1.tlog
/x64/Debug/StringOperations.tlog/link.write.1.tlog
/x64/Debug/StringOperations.tlog/StringOperations.lastbuildstate
/x64/Debug/StringOperations.vcxproj.FileListAbsolute.txt
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
